* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

ul {
    list-style: none;
}

.white-button {
    background-color: white;
    color: #F15B22;
    font-size: 20;
    font-weight: 800;

    border: none;
    border-radius: 5px;
    padding: 20px 36px;
}



.container {
    height: 808px;
    width: 100%;
    background: url("../images/banner/banner1.png");
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: right;
    align-items: center;
}

.container .header-title {
    width: 33%;
    text-align: right;
    margin-right: 14%;
}

.container .header-title h1 {
    font-size: 65px;
    font-weight: 900;
    margin-bottom: 24px;
}

.container .header-title p {
    font-size: 26px;
    line-height: 31px;
    margin-bottom: 32px;
    color: #444343;
}

.container .header-title button {
    background-color: #F15B22;
    color: #FFFFFF;
    font-size: 20px;
    padding: 21px 25px 20px 26px;
    border: none;
    border-radius: 5px;
}

.previous-year {
    
}

.sec1-container {
    margin: 131px auto;
    width: 67%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 87px;

    margin-bottom: 130px;
}

.sec1-container .text-div {
    width: 416px;
    text-align: left;
}

.sec1-container h2 {
    font-size: 40px;
    font-weight: 900;

    margin-bottom: 24px;
}

.sec1-container p {
    font-size: 16px;
    line-height: 26px;
    color: #444343;

    margin-bottom: 16px;
}

.sec1-container ul li {
    color: #444343;
    margin-bottom: 8px;
}

.my-plans h2 {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 50px;
}

.plans {
    display: flex;
    justify-content: space-around;
    width: 71%;
    margin: 0 auto 130px;
}

.plans div {
    text-align: center;
    margin-bottom: 50px;
}

.plans img {
    margin-bottom: 13px;
}

.plans h3 {
    margin-bottom: 16px;
}

#motivation .img-container {
    width: 71%;
    max-width: 1140px;
    height: 300px;

    background:url("../images/gradient2.png"), url("../images/watch.png");
    background-repeat: none;

    margin: 0 auto 130px;
}

#motivation .text-container {
    width: 50%;
    padding: 59px 617px 59px 64px;
}

#motivation h2 {
    font-size: 40px;
    font-weight: 900;

    color: white;
    margin-bottom: 24px;
}

footer {
    background-color: black;
    color: white;
}

.elem-container {
    width: 71%;
    max-width: 1140px;

    display: flex;
    justify-content: space-between;

    padding: 8% 14%;
}

footer .div1 {
    width: 40%;
    max-width: 485px;
}

footer .div1 h2 {
    font-size: 45px;
    font-weight: 900;

    margin-bottom: 16px;
}

footer .div1 p {
    font-size: 16px;
    line-height: 26px;

    margin-bottom: 24px;
}

footer .div1 .icons {
    display: flex;
    gap: 18px;
}

footer .div2 h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 31px;
}

footer .div2 input {
    background-color: black;
    color: white;
    border-radius: 8px;

    width: 325px;

    font-size: 18px;
    font-weight: 700;
    padding: 21px;

    margin-bottom: 20px;
}

.div2 button {
    display: block;
}